:root {
  --primary: hsl(240, 100%, 5%);
  --text-clr: hsl(236, 13%, 42%);
  --cta: hsl(5, 85%, 63%);
  --btn-text: hsl(36, 100%, 99%);
  --secondary-heading: hsl(35, 77%, 62%);

  /*Font */
  --regular: 400;
  --bolder: 600;
  --extra-bold: 800;
}

/* Below 1200px */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .news:first-child p {
    width: 80%;
  }
}
/* Below 1100px */
@media (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
  .news:last-child p {
    width: 80%;
  }
}
/* Below 1000px */
@media (max-width: 62.5em) {
  .wrapper {
    max-width: 100rem;
  }
  .news p {
    width: 90%;
  }
}
/* Below 845 px */
@media (max-width: 52.8125em) {
  .wrapper {
    max-width: 90rem;
  }
  header {
    position: relative;
  }
  nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 999;
    display: none;
    /* padding: 0 3em; */

    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  nav a {
    color: var(--primary);
    font-weight: var(--bolder);
  }
  .menu--icon {
    display: block;
  }

  .menu-active nav ul {
    display: flex;
  }
  .menu-active .menu--close {
    display: block;
    z-index: 999;
    /* margin-right: 2em; */
  }
  .menu-active .menu--icon {
    display: none;
  }
  main {
    grid-template-columns: repeat(1, 1fr);
    gap: 8em;
  }
  aside {
    display: flex;
    flex-direction: column;
    gap: 1.8em;
    border-bottom: 1px solid var(--text-clr);
    padding-bottom: 2em;
    /* margin-top: -20px; */
  }

  .top-news {
    grid-template-columns: repeat(1, 1fr);
    gap: 5em;
  }
}

@media (max-width: 46.875em) {
  .wrapper {
    max-width: 70rem;
  }
}
/* Below 600px */
@media (max-width: 37.5em) {
  .wrapper {
    max-width: 60rem;
  }
  .news-details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
    margin-top: 2em;
  }
}

/* Below 500px */
@media (max-width: 31.25em) {
  .wrapper {
    max-width: 55rem;
  }
  nav ul {
    position: absolute;
    left: 25%;
    width: 75%;
    height: 100vh;
    background-color: #fff;
    z-index: 999;
    display: none;
    padding: 8em 3em 0 3em;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 2rem;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  }
  .menu-active .menu--close {
    margin-right: 2px;
  }
}
/* Below 465px */
@media (max-width: 29em) {
  html {
    font-size: 56.25%;
  }
  .wrapper {
    max-width: 45rem;
  }
  .top-news {
    padding: 0 0.5em;
  }
}

@media (max-width: 26.875em) {
  .wrapper {
    max-width: 42rem;
  }
  aside {
    width: 100%;
  }
}

@media (max-width: 25em) {
  html {
    font-size: 50%;
  }
  /* .wrapper {
    max-width: 40rem;
  } */
}
